<div class="navbar">
  <div class="logo">
    <img src="../../../assets/img/logo1.png" alt="Logo da Crux Films">
  </div>
  <a href="#home">Apresentação</a>
  <a href="#clientes">Clientes</a>
  <a href="#portfolio">Portfólio</a>
  <a href="#contratar">Por que nos contratar?</a>
  <a href="#contatos">Contatos</a>
</div>

<div id="home" class="container page">
  <h2>Página de Apresentação</h2>
  <p>Esta é a página de apresentação da nossa empresa.</p>
</div>

<div id="clientes" class="container page">
  <h2>Página de Clientes</h2>
  <p>Aqui você pode encontrar informações sobre nossos clientes.</p>
</div>

<div id="portfolio" class="container page">
  <h2>Portfólio</h2>
  <p>Navegue pelo nosso portfólio e confira nossos trabalhos.</p>
  <!-- Adicione categorias do portfólio aqui -->
</div>

<div id="contratar" class="container page">
  <h2>Por que nos contratar?</h2>
  <p>Descubra os motivos pelos quais você deve escolher nossa empresa.</p>
</div>

<div id="contatos" class="container page">
  <h2>Contatos</h2>
  <p>Entre em contato conosco para mais informações.</p>
</div>
